@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

nav {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 0px;
}

.hamburger {
  position: absolute;
  right: 50px;
  width: 18px;
  height: 12px;
  top: 2px;
}

.head {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
}

.head .myLogo a {
  width: 76px;
  height: 20px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: hsl(234, 100%, 69%);
}

.text1 a {
  position: relative; 
  top: 2px;
  color: hsl(234, 100%, 75%);
}

.text2 a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.desktop-menu {
  display: none;
}

.menuformobile {
  margin-top: -90px;
  display: none;
  flex-direction: column;
  height: 90vh;
  width: 110vw;
  background-color: hsl(234, 100%, 69%);;
}

.mobile-menu {
  margin-top: 100px;
  transition: 0.3s;
}

.closeicon {
  display: none;
}

.mobile-menu li {
  margin-left: 24px;
  list-style: none;
  font-size: 32px;
}

.mobile-menu a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 23px;
}

 .desktop-menu{
  display: none;
}

.info {
  background: url("../style/img/header-shapes\ mobile.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% -  375px/2);
  top: 92px;
}

.title1 {
  width: 327px;
  height: 150px;
  padding-left: 24px;
  padding-right: 24px;
}

.title1 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
  margin-left: -20px;
}

.presentation1 {
  width: 327px;
  height: 146px;
  padding-top: 12px;
}

.presentation1 .intro1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text1 {
  padding-top: 12px;
}

.social-icons1 {
  width: 170.17px;
  height: 20px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.allcards {
  display: grid;
  grid-row-gap: 80px;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 2788px;
  left: 0px;
  top: 718px;
}

.card1,
.card2,
.card3,
.card4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(223, 12%, 89%);
  border-radius: 16px;
}

.snapshoot1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.snapshoot2 {
  display: none;
}

.left-block {
  width: 295px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.tonic-title-frame1 h2 {
  font-style: normal;
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: hsl(218, 54%, 20%);
}

.tonic-title-frame2 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: hsl(218, 54%, 20%);
}

.tonic-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 321px;
  height: 32px;
  padding: 6px;
}

.client {
  width: 55px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.role {
  width: 126px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: disc;
}

.year {
  width: 100px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: disc;
}

.text-desc {
  width: 295px;
  height: 76px;
}

.text-desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: hsl(218, 31%, 30%);
}

.tags {
  width: 203px;
  height: 24px;
  padding-top: 16PX;
}

.tags ul {
  list-style: none;
  float: left;
  gap: 8px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.tags ul .tag-pl {
  padding: 4px 12px;
  line-height: 12px;
  color: hsl(234, 100%, 69%);
  background: hsl(240, 100%, 96%);
  border-radius: 8px;
}

.tags li {
  list-style: none;
}

.tags .ruby {
  display: none;
}

.btn {
  padding-top: 28px;
}

.btn button {
  padding: 10px;
  box-sizing: border-box;
  width: 124px;
  height: 48px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396DF2;
}

.chevron1,
.chevron2 img {
  padding-right: 45px;
  padding-top: 29px;
}

.lang-icons {
  margin-top: 16px;
}

.programing-part{
  margin-top: 60px;
}

.programing-languages img {
  position: absolute;
  left: 85%;
  top: 60.5%;
  padding-right: 66px ;
}

.card2 .snapshoot2 img,
.card4 .snapshoot2 img {
  display: none;
}

.tonic-title-frame .client {
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  color: hsl(218, 31%, 30%);
  list-style: none;
}

.tonic-title-frame .counter {
  width: 8px;
  height: 8px;
  color: hsl(216, 14%, 79%);
}

.tonic-title-frame .role {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
  list-style: none;
}

.tonic-title-frame .year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
  list-style: none;
}

.title2 h1 {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
  display: flex;
  align-items: center;
  margin-left: -20px;
}

.presentation2 .intro2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 117px;
  height: 24px;
}

.connect2 .text2 {
  width: 117px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.social-icons2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 40px;
}

.resume{
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume .language-btn {
  width: 162px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  padding-left: 10px;
}

.title2 {
  padding-left: 24px;
  padding-right: 24px;
}

.presentation2 {
  width: 327px;
  height: 146px;
}

button:active {
  background-color: blue;
  border-color: #333;
  color: #eee;
}

.btn button:hover {
  font-size: 1rem;
  transform: scale(0.7);
  background-color: #396df2;
  color: #eee;
}

.about {
  position: absolute;
  top: 3460px;
  width: 375px;
  height: auto;
  background: #FFFFFF;
  padding-top: 114px;
  margin-top: 114px;
  padding-left: 12px;
  margin-left: 24px;
}

.js,
.html,
.css {
  width: 327px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 12px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.js p,
.html p,
.css p {
  position: absolute;
  left: 78px;
  margin-top: -56px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.links {
  display: flex;
  gap: 2em;
  padding-left: 0;
}

.programing-languages {
  display: flex;
}

.programing-languages p {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

.myskills {
  display: flex;
  justify-content: space-between;
}

.frameworks p {
  margin-top: 24px;
  margin-left: 24px;
}

.contact {
  background: hsl(234, 100%, 69%);
  border-top-left-radius: 100px;
  position: absolute;
  width: 375px;
  height: 805px;
  top: 4707px;
  margin-top: 113px;
}

.contact-container {
  background-image: url("img/cont-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

}

form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 24px;
}

.contact h2,
.para {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.contact-text h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: hsl(240, 100%, 96%);
  margin-top: 12px;
  margin-left: 0px;
  width: 342px;
  height: 160px;
}

.contact-text .para {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  width: 327px;
  color: hsl(240, 100%, 96%);
  margin-top: 12px;
  PADDING-LEFT: 39px;
  padding-right: 22px;
}

.contact-block h2 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 48px;
  padding: 10px 0;
}

form input,
textarea {
  padding: 15px 38px 15px 16px;
  background-color: white;
  border: 1px solid hsl(198, 16%, 84%);
  border-radius: 8px;
  font-size: 17px;
  color: hsl(218, 54%, 20%);
  width: 327px;
}

form #message {
  height: 170px;
}

form .button {
  display: flex;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  margin-bottom: 19px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 17px;
  border: none;
  color: hsl(234, 100%, 69%);
  background: white;
}

form .line {
  width: 134px;
  height: 5px;
  background: hsl(212, 40%, 8%);
  border-radius: 10px;
  margin-left: 95px;
}

/* media query for the desktop version */

@media (min-width: 768px) {

  body {
    width: 100%;
    box-sizing: border-box;
  }

  .myLogo {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 143px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    justify-content: space-between;
    width: 259px;
    height: 40px;
    left: 1039px;
    top: 16px;
    list-style: none;
  }

  .desktop-menu li a {
    width: 63px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    transition: 0.7s ease;
  }

  .desktop-menu li a:hover {
    color: aqua;
  }

  .info {
    background: url("../style/img/desktop/Header\ bg@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 1440px;
    height: 916px;
    left: 0px;
    top: 71px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    position: absolute;
    width: 920px;
    height: 268px;
    left: 260px;
    top: calc(50% - 268px/2);
  }

  .title1 h1 {
    width: 920px;
    height: 122px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .presentation1 .intro1 { 
    font-size: 20px;
    line-height: 28px;
    width: 920px;
    height: 98px;
    font-size: 20px;
  }

  .social-icons1 {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    position: absolute;
    width: 170.17px;
    height: 20px;
    left: 260px;
    top: 597px;
    
  }

  .text1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }

  .text1 a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
  }

  .social-icons1 {
    width: 170.17px;
    height: 20px;
  }

  .allcards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 144px;
    left: 166px;
    width: 1156px;
    height: 496px;
    background: #FFFFFF;
    border: 2px solid #A7AEFF;
    border-radius: 24px;
    margin-top: 144px;
  }

  .snapshoot1 {
    display: none;
  }

  .snapshoot2 {
    display: flex;
    position: absolute;
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .left-block {
    display: flex;
    flex-direction: column;
  }

  .allcards > .card1,
  .card3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 46px;
  }

  .allcards > .card2,
  .card4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 46px;
  }

  .tonic-title-frame2 .break {
    display: none;
  }

  .tags .ruby {
    display: flex;
  }

  .text-desc p {
    font-size: 16px;
    float: left;
    margin-top: 45px;
    margin-left: 0;
    padding: 0;
  }

  .tonic-ul {
    float: left;
    width: 100%;
    height: auto;
  }

  ul.tonic-ul {
    margin: 0;
    
  }

  .tonic-ul li {
    font-size: 18px;
    font-weight: 400;
    width: auto;
  }

  .tonic-title-frame1 {
    width: 100%;
    height: auto;
  }

  .tonic-title-frame1 h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .tonic-title-frame2 h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .tags ul {
    float: left;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .tags ul .tag-pl {
    width: auto;
    padding: 4px 12px;
    line-height: 12px;
  }

  .btn button {
    margin: 0;
  }

  .btn {
    margin-left: 25px;
  }

  /* About myself */

  .about {
    width: 100%;
    height: auto;
  }
  .about > .bloc-l,
  .bloc-r{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .bloc-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 447px;
    height: 320px;
  }

  .title2 h1 {
    width: 447px;
    height: 114px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;
    margin-left: 142px;
    
  }

  .bloc-l .presentation1 {
    width: 447px;
    height: 102px;
    font-size: 16px;
    font-weight: 400;
    font-weight: 24px;
    position: absolute;
    top: 224px;
    left: 179px
  }

  .bloc-l .text1 {
    position: absolute;
    top: 330px;
    left: 178px;
  }

  .bloc-l .social-icons1 {
    position: absolute;
    top: 95mm;
    left: 175px;
  }

  .resume {
    position: absolute;
    left: 45mm;
  }

  .resume .language-btn:hover {
    transition: all 0.3s ease-in;
    color: aqua;
  }

  .resume .language-btn {
    cursor: pointer;
  }

  .bloc-r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 447px;
    height: 320px;
  }

  .programing-part {
    display: flex;
    flex-direction: column;
  }

  .programing-languages {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .programing-languages p {
    color: #344563;
  }

  .lang-icons {
    display: flex;
    flex-direction: row;
  }

  .lang-icons .icon {
    flex-direction: column;
    width: 122px;
    height: 120px;
    align-items: flex-start;
  }

  .icon p {
    
  }

  .icon img {
   
  }

  .lang-icons .html {
    margin-left: 112px;
  }

  .lang-icons .css {
    margin-left: 112px;
  }

  .line-hr {
    width: 710px;
   
  }

  .myskills {
   
    margin-bottom: 20px;
  }

  .myskills img {
   
  }

  .myskills p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  /* Contact me Form */
  .contact {
    background: hsl(234, 100%, 69%);
    border-top-left-radius: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 880px;
    position: relative;
   
    padding: 0;
  }

  .contact-container {
    background-image: url(img/desktop/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    position: relative;
    top: 50px;
  }

  .contact-text .para {
    height: 102px;
    width: auto;
  }

  form {
    display: flex;
    align-items: center;
    position: relative;
    
    left: 2px;
    margin-left: -90px;
  }

  form input,
  textarea {
    border: 1px solid hsl(198, 16%, 84%);
    font-size: 17px;
    width: 447px;
    border-radius: none;
  }

  form .button {
    margin-top: 35px;
  }

  .line {
    display: none;
  }
}
