@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  left: 15px;
  top: 15px;
}

body {
  width: 375px;
  height: 5410px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.logo .myLogo a {
  margin-top: -34px;
  margin-left: -30px;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: hsl(234, 100%, 69%);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hamburger {
  margin-top: -45px;
  margin-right: 120px;
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: right;
}

.info {
  background: url("../style/img/header-shapes\ mobile.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  width: 375px;
  height: 718px;
}

.title {
  margin-top: -45px;
  margin-left: -30px;
  padding-left: 24px;
  padding-right: 24px;
}

.title h1 {
  align-items: center;
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.presentation {
  width: 327px;
  height: 146px;
  margin-left: -30px;
}

.presentation .intro {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.intro .connect {
  width: 117px;
  height: 24px;
  padding-top: 10px;
}

.connect .connect-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: -45px;
  color: hsl(234, 100%, 75%);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  margin-left: -60px;
}

.social-icons {
  height: 20px;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  list-style: none;
}

.allcards {
  display: grid;
  grid-column: auto;

}

.card1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(223, 12%, 89%);
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snapshoot {
  width: 295px;
  height: 220px;
  margin-right: 60px;
  margin-top: -30px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-block {
  width: 295px;
  height: 288px;
}

.tonic-title-frame {
  width: 295px;
  height: 80px;
}

.tonic-title-frame h2 {
  margin-left: -40px;
  margin-top: -20px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: hsl(218, 54%, 20%);
}

.tonic-ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.tonic-title-frame .client {
  font-style: normal;
  margin-left: -50px;
  margin-top: -20px;
  font-size: 13px;
  font-weight: 600;
  color: hsl(218, 31%, 30%);
  list-style: none;
}

.tonic-title-frame .counter {
  margin-left: -10px;
  margin-top: -20px;
  width: 8px;
  height: 8px;
  color: hsl(216, 14%, 79%);
}

.tonic-title-frame .role {
  font-style: normal;
  margin-left: -50px;
  margin-top: -20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
  list-style: none;
}

.tonic-title-frame .year {
  font-style: normal;
  margin-left: -60px;
  margin-top: -20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
  list-style: none;
}

.text-desc {
  width: 295px;
  height: 76px;
  padding-top: 10px;
  margin-top: -25px;
  margin-left: -40px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: hsl(218, 31%, 30%);
}

.btn {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  position: relative;
  left: -20px;
  top: 90px;
}

.btn button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  border: 1px solid hsl(234, 100%, 69%);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: hsl(223, 88%, 59%);
  padding-left: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
}
