@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  left: 15px;
  top: 15px;
}

body {
  width: 375px;
  height: 718px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.logo .myLogo a {
  margin-top: -34px;
  margin-left: -30px;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: hsl(234, 100%, 69%);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hamburger {
  margin-top: -45px;
  margin-right: 120px;
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: right;
}

.title {
  margin-top: -45px;
  margin-left: -30px;
  padding-left: 24px;
  padding-right: 24px;
}

.title h1 {
  align-items: center;
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.presentation {
  width: 327px;
  height: 146px;
  margin-left: -30px;
}

.presentation .intro {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.intro .connect {
  width: 117px;
  height: 24px;
  margin-left: -30px;
  padding-top: 10px;
}

.connect .connect-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: hsl(234, 100%, 75%);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  margin-left: -60px;
}

.social-icons {
  height: 20px;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  list-style: none;
}
