* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

.language {
  list-style: none;
  padding: 0 17px;
}

#rotate {
  transform: rotate(270deg);
}

.language a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.sub-title a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #344563;
  font-weight: 600;
  font-size: 14.5px;
  text-align: center;
}

.about a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  text-decoration: none;
}

.technologies a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
}

header .nav-menubar {
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu a {
  font-weight: 600;
  color: white;
  margin-left: 24px;
  list-style: none;
  font-size: 32px;
}

header .nav-menubar a {
  text-decoration: none;
  color: #6070ff;
  transition: all 0.4s ease-in-out;
}

header .nav-menubar a:hover {
  color: #15dbe2;
}

header {
  margin: 0 auto;
  height: 48px;
  padding: 0 24px;
  background-color: #fff;
}

.menuformobile {
  z-index: 999;
  position: fixed;
  top: 10vh;
  display: none;
  margin-top: -10.5vh;
  flex-direction: column;
  height: 125vh;
  color: white;
  width: 100vw;
  background-color: rgba(69, 88, 255, 0.735);
}

.closeicon {
  width: 18px;
  height: 18px;
  margin-left: 88vw;
  margin-top: 7%;
  margin-bottom: 10%;
}

#headsection {
  width: 100%;
  height: 100vh;
  background-image: url("img/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom-left-radius: 100px;
  background-color: #fff;
}

.about h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

#headsection h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding: 0 24px;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#headsection p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding: 0 24px;
}

#headsection a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  text-decoration: none;
}

.technologies {
  display: flex;
  gap: 10px;
}

.connect {
  padding: 0 24px;
}

.social-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 20px 24px;
}

.button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #6070ff;
}

.button:active {
  background-color: #2230d2;
}

.button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.project-name {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}

#company {
  font-weight: 500;
  font-size: 15px;
  color: #344563;
}

.img {
  display: flex;
  flex-direction: column;
  width: 82vw;
  height: auto;
}

.lang {
  display: flex;
  flex-direction: row;
  border: 1px solid #dfe1e6;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  align-items: center;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #172b4d;
  margin-top: 30px;
}

.backend-yr {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

.bullet {
  font-family: 'Poppins', sans-serif;
  font-size: 30px !important;
  color: #7a869a;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 3%;
}

#portfolio-section {
  display: grid;
  padding: 0 24px;
  gap: 88px;
  background-color: #e5e5e5;
  margin: 114px 0;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.project-description {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.project-description .button {
  margin-bottom: 20px;
}

/* About section  */
#about-section {
  background-color: #fff;
  border-top-right-radius: 100px;
}

.about {
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.social-links-2 {
  display: flex;
  gap: 20px;
  list-style: none;
}

.title h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #dfe1e6;
}

.border-none {
  border: none !important;
}

.technologies-2 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.technologies-2 li {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.technologies-2 li img{
  width: 50px;
  height: 50px;
}

.contact {
  background-color: #fff;
  padding-top: 114px;
}

.contact .input-field {
  border: none;
}

.container {
  background-image: url("img/cont-image.png");
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: bottom -15px right 45px;
  color: #fff;
  padding: 20px;
  background-size: contain;
  border-top-left-radius: 170px;
}

.contact .title {
  margin-top: 103px;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contact-descrip {
  text-align: center;
  background: #6070ff;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  line-height: 28px;
}

.contact-form {
  margin: 0 auto;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
  margin: 10px 0;
  font-size: 17px;
  padding: 10px;
  color: #172b4d;
  line-height: 20px;
}

.input-form:focus {
  border: 1px solid #b3bac5;
}

.text-form {
  border: 1px solid #fff;
  border-radius: 8px;
  min-height: 140px;
  padding: 10px;
  margin: 10px 0;
  color: #242a33;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  width: 100%;
  font-size: 17px;
}

.submit-button {
  border: 1px solid #fff;
  align-self: flex-start;
  border-radius: 8px;
  margin: 10px 0;
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 16px;
}

.submit-button:hover {
  background: #6070ff;
  color: #fff;
}

.nav-menu-desktop {
  display: none;
}

/* Modal Styles Start Here */

.modal-back {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: none;
  background-color: rgba(193, 199, 208, 0.7);
  top: 0;
  position: fixed;
  padding: 5%;
}

.mainmodal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 9vh 2%;
  background: white;
  padding: 5%;
}

.modalclose {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.titleandclose {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modalphoto {
  width: 100%;
}

.modaltechs {
  display: flex;
  align-items: center;
}

.modaltechs li {
  list-style: none;
  font-size: 13px;
}

#role,
#year {
  color: #7a869a;
}

.modaltech2 li {
  list-style: none;
  font-size: 12px;
  color: #6070ff;
}

.worktech li {
  list-style: none;
  font-size: 12px;
  color: #6070ff;
}

.modaldetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.techandbutton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalbtns {
  display: flex;
}

.modalbtns button {
  font-size: 14px;
  padding: 5px 12px;
  margin-right: 10px;
}

.source img {
  filter: invert(65%) sepia(27%) saturate(3000%) hue-rotate(220deg) brightness(100%) contrast(101%);
}

.modalbtns button img {
  width: 14px;
}

.modalbtns button:hover img {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(103deg) brightness(200%) contrast(100%);
}

.live,
.source {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media all and (min-width: 768px) {

  .logo {
    font-size: 2.5rem;
  }

  .nav-menu-desktop {
    display: block;
  }

  .menu-desktop {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  header {
    padding: 0;
  }

  header .nav-menubar .menu-desktop a {
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
    background: #8698e7;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    color: #344563;
    transition: all 0.4s ease-in;
  }

  header .nav-menubar .menu-desktop a:hover {
    color: #15dbe2;
  }

  .menu-icon {
    display: none;
  }

  .nav-menubar {
    padding: 15px 142px;
  }

  #headsection {
    background-image: url("img/desktop/Header\ bg@2x.png");
    justify-content: center;
    background-repeat: no-repeat;
    padding: 15%;
  }

  #headsection h1 {
    font-size: 48px;
  }

  .myinfo p {
    margin: 20px 0;
  }

  #headsection p {
    font-size: 20px;
  }

  .project-cards {
    flex-direction: row;
    gap: 15px;
  }

  #portfolio-section {
    padding: 142px;
    margin: 0;
  }

  .img {
    width: 50%;
    cursor: pointer;
  }

  .order {
    order: 2;
  }

  #about-section {
    padding: 114px 142px;
    display: flex;
    gap: 30px;
  }

  .about {
    width: 50%;
    padding: 0;
  }

  .language {
    flex-direction: row;
    width: 50%;
  }

  .technologies-2 {
    flex-direction: row;
  }

  .technologies-2 li {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .submit-button {
    align-self: center;
  }

  .mainmodal {
    margin: 2vh 18%;
    padding: 2%;
  }

  .modaldetails {
    display: flex;
    flex-direction: row;
  }

  .modaldesc {
    width: 55%;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #344563;
  }
}
