@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

nav {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 0px;
}

.hamburger {
  position: absolute;
  right: 50px;
  width: 18px;
  height: 12px;
  top: 2px;
}

/* .logo {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  
} */
.head{
  display: flex;
  justify-content: space-between;
}
/* .logo .myLogo a {
  width: 76px;
  height: 20px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: hsl(234, 100%, 69%);
} */

.text1 a {
  /* position: relative; */
  top: 2px;
  color: hsl(234, 100%, 75%);
}

.text2 a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.desktop-menu{
  display: none;
}
.menuformobile{
  /* z-index: 999; */
  margin-top: -90px;
  display: none;
  flex-direction: column;
  height: 110vh;
  width: 100vw;
  background-color:black;
}
.mobile-menu{
margin-top: 100px;
}
.closeicon{
  display: none;
}
.mobile-menu li{
  margin-left: 24px;
  list-style: none;
  font-size: 32px;
}
.mobile-menu a{
color: white;
}
/* ul {
  display: none;
} */

.info {
  background: url("../style/img/header-shapes\ mobile.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  /* position: absolute; */
  width: 375px;
  height: 604px;
  left: calc(50% - 375px/2);
  top: 92px;
}

.title1 {
  width: 327px;
  height: 150px;
  padding-left: 24px;
  padding-right: 24px;
}

.title1 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
}

.presentation1 {
  width: 327px;
  height: 146px;
  padding-top: 12px;
}

.presentation1 .intro1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text1 {
  padding-top: 12px;
}

.social-icons1 {
  width: 170.17px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.allcards {
  display: grid;
  grid-row-gap: 80px;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 2788px;
  left: 0px;
  top: 718px;
}

.card1,
.card2,
.card3,
.card4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(223, 12%, 89%);
  border-radius: 16px;
}

.snapshoot1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.snapshoot2 {
  display: none;
}

.left-block {
  width: 295px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.tonic-title-frame {
  width: 295px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.tonic-title-frame1{
  padding-top: 12px;
}

.tonic-title-frame1 h2 {
  font-style: normal;
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: hsl(218, 54%, 20%);
}

.tonic-title-frame2 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: hsl(218, 54%, 20%);
}

.tonic-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  width: 304px;
  height: 32px;
  padding: 6px;
}

.client {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.role {
  width: 100px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: disc;
}

.year {
  width: 100px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: disc;
}

.text-desc {
  width: 295px;
  height: 76px;
}

.text-desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: hsl(218, 31%, 30%);
}

.tags {
  width: 203px;
  height: 24px;
}

.tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: hsl(240, 100%, 96%);
  border-radius: 8px;
}

.tags li {
  list-style: none;
}

.tags ul :nth-child(1),
.tags ul :nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 29px;
  height: 16px;
  text-align: center;
}

.tags ul :nth-child(3),
.tags ul :nth-child(4) {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 65px;
  height: 16px;
  text-align: center;
}

.tags .ruby {
  display: none;
}

.btn {
  padding: 10px;
  box-sizing: border-box;
  width: 124px;
  height: 48px;
  border: 1px solid #6070FF;
  border-radius: 8px;
}



.btn button {
  width: 105px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396DF2;
}

.js img,
.html img,
.css img {
  
}

.chevron1 img {
  position: relative;
  top: 14px;
}

.chevron2 img {
  position: relative;
  top: 26px;
}

.programing-languages img {
  margin: 16px 9px 16px 117px;
}

.card2 .snapshoot2 img,
.card4 .snapshoot2 img {
  
}

.card3 .snapshoot1 img {
  width: 259px;
}

.tonic-title-frame .client {
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  color: hsl(218, 31%, 30%);
  list-style: none;
}

.tonic-title-frame .counter {
  width: 8px;
  height: 8px;
  color: hsl(216, 14%, 79%);
}

.tonic-title-frame .role {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
  list-style: none;
}

.tonic-title-frame .year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
  list-style: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 1125.15px;
  left: calc(50% - 375px/2);
  top: 3506px;
}


.title2 h1 {
  align-items: center;
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: hsl(218, 54%, 20%);
  display: flex;
}

.presentation2 .intro2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 3px;
}

.connect2 {
  padding-bottom: 1em;
}

.connect2 .text2 {
  margin-left: 168px;
}

.social-icons2 {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  position: relative;
  list-style: none;
  left: 186px;
}

.resume{
  padding: 0px;
}
.resume .language-btn {
  width: 162px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  padding-left: 10px;
}

.title2 {
  padding-left: 24px;
  padding-right: 24px;
}

.presentation2 {
  width: 327px;
  height: 146px;
}

button:active {
  background-color: blue;
  border-color: #333;
  color: #eee;
}

.btn button:hover {
  font-size: 1rem;
  transform: scale(0.7);
  background-color: #396df2;
  color: #eee;
}

.js,
.html,
.css {
  display: flex;
  list-style: none;
  gap: 2em;
  background: #f7f7f9;
  border-radius: 8px;
  padding-left: 18px;
  height: 74px;
}

.js p,
.html p,
.css p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.links {
  display: flex;
  gap: 2em;
  padding-left: 0;
}

.programing-part {
  margin-top: 50px;
  margin-left: -55px;
}

.programing-languages {
  display: flex;
}

.programing-languages p {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

.myskills {
  display: flex;
  justify-content: space-between;
}

.frameworks p {
  position: relative;
 
  margin-top: 33px;
}

.contact {
  background: hsl(234, 100%, 69%);
  border-top-left-radius: 100px;
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0px;
  top: 5410px;
}

.contact-container {
  background-image: url("img/cont-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

}

form {
  position: relative;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact h2,
.para {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 12px;
}

.contact-text h2 {
  font-size: 48px;
  font-weight: 700px;
  line-height: 52px;
  text-align: center;
  width: 801px;
  color: hsl(240, 100%, 96%);
  margin-top: 12px;
}

.contact-text .para {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  width: 327px;
  color: hsl(240, 100%, 96%);
  margin-top: 12px;
}

.contact-block h2 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 48px;
  padding: 10px 0;
}

form input,
textarea {
  padding: 15px 38px 15px 16px;
  background-color: white;
  border: 1px solid hsl(198, 16%, 84%);
  border-radius: 8px;
  font-size: 17px;
  color: hsl(218, 54%, 20%);
  width: 327px;
}

form #message {
  height: 170px;
}

form .button {
  display: flex;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 17px;
  border: none;
  color: hsl(234, 100%, 69%);
  background: white;
  position: relative;
}

form .line {
  width: 134px;
  height: 5px;
  background: hsl(212, 40%, 8%);
  border-radius: 10px;
  position: relative;
  left: 120px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    box-sizing: border-box;
  }

  .hamburger {
    display: none;
  }

  nav {
    margin-top: -15px;
  }

  ul {
    display: flex;
    align-items: center;
    float: right;
    gap: 40px;
    margin-right: 143px;
    margin-top: -47px;
  }

  li {
    list-style: none;
  }

  li a {
    width: 63px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    margin-top: -15px;
  }

  .info {
    background: url("../style/img/desktop/Header\ bg@2x.png");
    background-size: cover;
    width: 1440px;
    margin-bottom: 180px;
    position: relative;
    left: 300px;
    top: 100px;
  }

  .connect1 {
    top: 15px;
  }

  .connect1 .text1 {
    position: relative;
    left: -65%;
  }

  .connect2 .text2 {
    margin-left: -180px;
  }

  .text1 a {
    /* position: relative; */
    top: -7px;
    color: hsl(234, 100%, 75%);
    margin-left: 319px;
  }

  .logo .myLogo a {
    margin-top: -47px;
    margin-left: 192px;
  }

  .title1 {
    width: 920px;
    height: 122px;
    margin-left: 120px;
    padding-top: 170px;
  }

  .info .title1,
  .presentation1,
  .connect1,
  .social-icons1 {
    margin-left: -15%;
  }

  .title1 h1 {
    width: 500px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .presentation1 {
    width: 1440px;
    height: 916px;
  }

  .presentation1 .intro1 {
    margin-top: 136px;
    width: 920px;
    height: 98px;
    margin-left: 15px;
    font-size: 20px;
  }

  .social-icons1 {
    height: 20px;
    display: flex;
    margin: 5.5rem 0;
    align-items: center;
    width: 11rem;
    gap: 10px;
    position: relative;
    top: -124px;
    list-style: none;
  }

  .connect1 .social-icons1 {
    position: relative;
    left: -59%;
  }

  .allcards {
    width: 100%;
    position: relative;
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
    padding: 142px 0;
  }

  .snapshoot1 {
    display: none;
  }

  .snapshoot2 {
    margin-top: -68px;
    width: 50%;
    padding: 10px;
    display: flex;
    height: 100%;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    left: 0;
  }

  .card1,
  .card3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 46px;
    width: 90%;
  }

  .card2,
  .card4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 46px;
    width: 90%;
  }

  .tonic-title-frame2 .break {
    display: none;
  }

  .tags .ruby {
    display: flex;
  }

  .text-desc p {
    font-size: 16px;
    float: left;
    margin-top: 45px;
    margin-left: 0;
    width: 90%;
    padding: 0;
  }

  .tonic-ul {
    margin-top: 20px;
    margin-bottom: 36px;
    padding: 0;
    float: left;
    width: 100%;
    height: auto;
  }

  ul.tonic-ul {
    margin: 0;
    margin-left: -20px;
  }

  .tonic-ul li {
    font-size: 18px;
    font-weight: 400;
    width: auto;
  }

  .tonic-title-frame1 {
    width: 100%;
    height: auto;
  }

  .tonic-title-frame1 h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  .tonic-title-frame2 h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  .tags ul {
    float: left;
    margin: 0;
    margin-left: -15px;
    width: 100%;
    height: auto;
  }

  .tags ul .tag-pl {
    width: auto;
    padding: 4px 12px;
    margin-top: -20px;
    line-height: 12px;
  }

  .btn button {
    margin: 0;
  }

  .btn {
    margin-left: 25px;
    margin-top: -15px;
  }

  /* About myself */
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 130px;
    padding-top: 140px;
    width: 90%;
  }

  .bloc-l {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -190px;
  }

  .bloc-l .title2,
  .presentation2,
  .connect2 {
    margin: auto;
    position: relative;
    left: 300px;
    top: -93px;
  }

  .title2 h1 {
    position: relative;
    left: -43px;
  }

  .presentation2 {
    width: 447px;
    height: 102px;
  }

  .social-icons2 {
    gap: 0;
    padding-left: 0;
    position: relative;
    left: -150px;
  }

  .language-btn {
    position: relative;
    left: 23px;
  }

  .resume:hover {
    transform: translate(50px);
  }

  .button {
    padding-left: 12px;
  }

  .about-right {
    width: 700px;
    height: 80%;
    margin-left: -150px;
  }

  .programing-part {
    display: flex;
    flex-direction: column;
  }

  .programing-languages {
    margin-left: -20px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .programing-languages p {
    color: #344563;
  }

  .programing-languages img {
    margin-top: -10px;
  }

  .lang-icons {
    display: flex;
    flex-direction: row;
  }

  .lang-icons .icon {
    flex-direction: column;
    width: 122px;
    height: 120px;
    align-items: flex-start;
    margin-left: -73px;
  }

  .icon p {
    margin-top: -16px;
    margin-left: -25px;
  }

  .icon img {
    margin-left: -25px;
  }

  .lang-icons .html {
    margin-left: 112px;
  }

  .lang-icons .css {
    margin-left: 112px;
  }

  .line-hr {
    width: 710px;
    margin-left: -60px;
  }

  .myskills {
    margin-left: -90px;
    margin-bottom: 20px;
  }

  .myskills img {
    margin-left: -100px;
  }

  .myskills p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  /* Contact me Form */
  .contact {
    background: hsl(234, 100%, 69%);
    border-top-left-radius: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 880px;
    position: relative;
    left: -8px;
    top: -12px;
    padding: 0;
  }

  .contact-container {
    background-image: url(img/desktop/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    position: relative;
    top: 50px;
  }

  .contact-text .para {
    height: 102px;
    width: auto;
  }

  form {
    display: flex;
    align-items: center;
    position: relative;
    top: -17px;
    left: 2px;
    margin-left: -90px;
  }

  form input,
  textarea {
    border: 1px solid hsl(198, 16%, 84%);
    font-size: 17px;
    width: 447px;
    border-radius: none;
  }

  form .button {
    margin-top: 35px;
  }

  .line {
    display: none;
  }
}
